//Sidd.in styles

$font_bold: 'Source Serif Pro', serif;
$font_normal: 'Source Sans Pro', sans-serif;

$purple_d: #605671;
$purple_l: #E4DCE4;

$white_d: #F2F2F2;

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

// Defaults

.row {max-width: 900px;}
body {font-family: $font_normal; font-weight: normal; background: $white_d; color: $purple_d;}
h1,h2,h3,h4,h5 {font-family: $font_bold; font-weight: 600; color: $purple_d;}
p {font-size: 24px; letter-spacing: 0.5px; line-height: 40px; margin-bottom: 40px;}

.bold {font-family: $font_bold; font-weight: 600; }
.special, .main_article h2 {font-family: $font_bold; font-weight: 600; font-size: 36px; line-height: 72px; letter-spacing: 1px; border-bottom: 1px solid rgba(96, 86, 113, 0.2); display: inline; padding-bottom: 5px;
	&:after {content:''; position: relative; width: 100%; height: 20px; display: block;}
	}

.gap {width: 100%; height: 40px;}

.main_article {padding-top: 60px; margin-bottom: 80px;}

//header
header {
	.header_wrap {
		.text_wrap {float: left; padding-top: 150px; width: 350px;
			h1 {font-size: 70px; line-height: 70px;}
			h2 {font-family: $font_normal; font-size: 14px; letter-spacing: 0.5px; }
		}
		.image_wrap { width: 300px; height: 300px; margin: 100px 100px 40px 0px; position: relative; float: left;
		  img {width:100%; position:relative; z-index:10;}
		  .overlay {position:absolute; top:0px; left:0px; z-index:11; width:100%; height:100%; background:rgba(96, 86, 113, 0.4); @include transition(all 0.5s ease);}
		  &:after {content:""; position:absolute; width:100%; height:100%; top:20px; left:-20px; z-index:1; border: 2px solid #605671; @include transition(all 0.5s ease);}
		  &:before {content:""; position:absolute; width:100%; height:100%; top:-20px; left:20px; z-index:2; border: 2px solid #605671; @include transition(all 0.5s ease);}
		  &:hover {
		    &:after {left:10px; top:-10px;}
		    &:before {left:-10px; top:10px;}
		    .overlay {background:rgba(96, 86, 113, 0.2);}
		  }
		}
	}
}

// Siddharth logo
.sid_logo_link {
	span{color: #605671;}
}

.sid_logo {font-family: $font_bold; width: 100px; height: 100px; border:2px solid #605671; position: relative;
	span {font-size: 40px; width: 60px; line-height: 40px; letter-spacing: 2px; position: absolute; right: 2px; top:10px; word-break: break-all; text-align: right; @include transition(all 0.5s ease);}
	&:after {content: ""; position: absolute; top: -2px; right: -2px; width: 100px; height: 100px; border:2px solid #605671; @include transition(all 0.5s ease);}
	&:hover{
		span {top:2px; @include transition(all 0.5s ease);}
		&:after {top: -15px; right: -15px; @include transition(all 0.5s ease);}
	}
}

// SVG Slant effect
svg.slant { pointer-events: none; height: 150px; z-index: 9998; position: relative; padding-top: 5px;}
svg.topone {bottom: -10px; margin-top: 0px; -ms-transform: rotateY(180deg); -webkit-transform: rotateY(180deg); transform: rotateY(180deg);}
svg.bottomone {bottom: -150px; margin-top: -150px;}
.whiteslant path {fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 4px;}
.offwhite path {fill: #f2f2f2; stroke: #f2f2f2; stroke-width: 4px;}
.white path {fill: #ffffff; stroke: #ffffff; stroke-width: 4px;}


.picture_story{
	.large-3.columns, .large-8.columns{padding-left: 0px; padding-bottom: 0.9375rem;}
}

//footer follow me
#follow_me {width: 100%;height: 500px; background-color: $purple_d; position: relative;
	&:after {content: ""; position: absolute; top:0px; left: 0px; background: rgba(96, 86, 113, 0.6); height: 100%; width: 100%;}
}

//Instagram
#instagram {width: 100%; height: 500px; background: #ffffff; margin-bottom: -30px;}

// Responsive

@media screen and (max-width: 64em) {
	.column, .columns {
    padding-left: 60px;
    padding-right: 60px;
}

header .header_wrap .image_wrap {width: 200px; height: 200px;
    float: none;
    margin: 100px auto 30px;}
header .header_wrap .text_wrap {    float: none;
    width: 100%;
    padding-top: 50px;}
header .header_wrap .text_wrap h1 {font-size: 50px; line-height: 50px; text-align: center;}
header .header_wrap .text_wrap h2 {text-align: center;}

}

@media screen and (max-width: 39.9375em) {
	.column, .columns {
		padding-left: 30px;
		padding-right: 30px;
}
}
