.row {
  max-width: 1000px; }

.column, .columns {
  padding-left: 10px;
  padding-right: 10px; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  background: #384D9D;
  color: #F6F3EB; }

h1, h2, h3, h4, h5 {
  font-family: "Source Serif Pro", serif;
  font-weight: 700;
  color: #F6F3EB; }

p {
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 40px;
  margin-bottom: 40px; }

h2 {
  font-size: 36px;
  letter-spacing: 1.4px; }

a {
  color: #F6F3EB;
  border-bottom: 2px solid #5e6fad; }
  a:hover, a:focus {
    background: #5e6fad;
    color: #ffffff; }

.bold {
  font-family: "Source Serif Pro", serif;
  font-weight: 600; }

.special, .main_article h2 {
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 72px;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(96, 86, 113, 0.2);
  display: inline;
  padding-bottom: 5px; }
  .special:after, .main_article h2:after {
    content: '';
    position: relative;
    width: 100%;
    height: 20px;
    display: block; }

.main_article {
  padding-top: 60px;
  margin-bottom: 80px; }

#about {
  padding-top: 100px;
  padding-bottom: 100px; }

.image-logo-wrap {
  width: 250px;
  height: 250px;
  position: relative;
  float: none;
  margin-left: 20px;
  margin-bottom: 60px;
  margin-top: 27px; }
  .image-logo-wrap img {
    width: 100%;
    position: relative;
    z-index: 1; }
  .image-logo-wrap .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 11;
    width: 100%;
    height: 100%;
    background: #F6F3EB;
    opacity: 0.3;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .image-logo-wrap:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
    left: -20px;
    z-index: 12;
    border: 2px solid #F6F3EB;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .image-logo-wrap:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20px;
    left: 20px;
    z-index: 13;
    border: 2px solid #F6F3EB;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .image-logo-wrap:hover:after {
    left: 10px;
    top: -10px; }
  .image-logo-wrap:hover:before {
    left: -10px;
    top: 10px; }
  .image-logo-wrap:hover .overlay {
    background: rgba(96, 86, 113, 0.2); }

.sidd {
  font-size: 48px;
  line-height: 68px;
  letter-spacing: 1.9px; }
  .sidd span {
    color: #384D9D;
    background: #F6F3EB;
    display: inline;
    padding: 0px 40px 0px 10px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }

.sid_logo_link span {
  color: #605671; }

.sid_logo {
  font-family: "Source Serif Pro", serif;
  width: 100px;
  height: 100px;
  border: 2px solid #605671;
  position: relative; }
  .sid_logo span {
    font-size: 40px;
    width: 60px;
    line-height: 40px;
    letter-spacing: 2px;
    position: absolute;
    right: 2px;
    top: 10px;
    word-break: break-all;
    text-align: right;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .sid_logo:after {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    width: 100px;
    height: 100px;
    border: 2px solid #605671;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .sid_logo:hover span {
    top: 2px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .sid_logo:hover:after {
    top: -15px;
    right: -15px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

svg.slant {
  pointer-events: none;
  height: 150px;
  z-index: 9998;
  position: relative;
  padding-top: 5px; }

svg.topone {
  top: -10px;
  margin-top: -140px;
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

svg.bottomone {
  bottom: -150px;
  margin-top: -150px; }

.whiteslant path {
  fill: white;
  stroke: white;
  stroke-width: 4px; }

.offwhite path {
  fill: #f2f2f2;
  stroke: #f2f2f2;
  stroke-width: 4px; }

.white path {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 4px; }

.purple_l path {
  fill: #E4DCE4;
  stroke: #E4DCE4;
  stroke-width: 4px; }

.picture_story .large-3.columns, .picture_story .large-8.columns {
  padding-left: 0px;
  padding-bottom: 0.9375rem; }

#follow_me {
  width: 100%;
  height: 500px;
  background-color: #605671;
  position: relative; }

#instagram {
  width: 100%;
  background: #F2F2F2;
  padding-bottom: 60px; }
  #instagram .instagram-carousel {
    /* Rotate all even images 2 degrees */
    /* Don't rotate every third image, but offset its position */
    /* Rotate every fifth image by 5 degrees and offset it */
    /* Keep default rotate for every eighth, but offset it */
    /* Keep default rotate for every eleventh, but offset it */ }
    #instagram .instagram-carousel .image-wrap {
      padding: 15px 15px 30px 15px;
      background: #ffffff;
      position: relative;
      border-radius: 2px; }
      #instagram .instagram-carousel .image-wrap .location {
        font-size: 10px;
        position: relative;
        padding-left: 12px;
        font-family: 'Permanent Marker', cursive;
        display: none; }
        #instagram .instagram-carousel .image-wrap .location:before {
          content: "";
          width: 10px;
          height: 10px;
          background: url("../img/location.svg");
          background-size: 10px auto;
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          left: 0px;
          top: 3px; }
        #instagram .instagram-carousel .image-wrap .location:empty {
          display: none; }
      #instagram .instagram-carousel .image-wrap .caption {
        font-size: 14px;
        height: 42px;
        text-align: center;
        overflow: hidden;
        font-family: 'Permanent Marker', cursive;
        margin-top: 15px;
        color: #323540; }
    #instagram .instagram-carousel .owl-stage {
      padding: 30px 0px; }
    #instagram .instagram-carousel .owl-item {
      -webkit-transform: rotate(-2deg);
      -moz-transform: rotate(-2deg);
      -webkit-transition: -webkit-transform .15s linear;
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 2px; }
    #instagram .instagram-carousel .owl-item:nth-child(even) {
      -webkit-transform: rotate(2deg);
      -moz-transform: rotate(2deg); }
    #instagram .instagram-carousel .owl-item:nth-child(3n) {
      -webkit-transform: none;
      -moz-transform: none;
      position: relative;
      top: -5px; }
    #instagram .instagram-carousel .owl-item:nth-child(5n) {
      -webkit-transform: rotate(5deg);
      -moz-transform: rotate(5deg);
      position: relative;
      right: 5px; }
    #instagram .instagram-carousel .owl-item:nth-child(8n) {
      position: relative;
      top: 8px;
      right: 5px; }
    #instagram .instagram-carousel .owl-item:nth-child(11n) {
      position: relative;
      top: 3px;
      left: -5px; }
    #instagram .instagram-carousel .owl-item:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      position: relative;
      z-index: 5;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
  #instagram .owl-carousel .owl-controls .owl-nav .owl-prev, #instagram .owl-carousel .owl-controls .owl-nav .owl-next {
    width: 50%;
    display: block;
    background-size: 40px auto;
    background-repeat: no-repeat;
    height: 60px;
    color: transparent;
    background-color: #F2F2F2; }
  #instagram .owl-carousel .owl-controls .owl-nav .owl-prev {
    background-image: url("../img/arrow-left.svg");
    float: left;
    background-position: left 30px center; }
  #instagram .owl-carousel .owl-controls .owl-nav .owl-next {
    background-image: url("../img/arrow-right.svg");
    float: right;
    background-position: right 30px center; }

#blog {
  width: 100%;
  height: 500px;
  background-color: #605671;
  position: relative; }

@media screen and (max-width: 64em) {
  .column, .columns {
    padding-left: 15px;
    padding-right: 15px; }
  .image-logo-wrap {
    width: 180px;
    height: 180px;
    margin-bottom: 40px;
    margin-left: 10px; }
  .image-logo-wrap:before {
    top: -10px;
    left: 10px; }
  .image-logo-wrap:after {
    top: 10px;
    left: -10px; }
  .sidd {
    font-size: 36px;
    line-height: 52px; }
  .sidd span {
    padding: 0px 20px 0px 5px; } }

@media screen and (max-width: 39.9375em) {
  #about {
    padding-top: 30px; }
  .sidd {
    margin-bottom: 60px; }
  p {
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 30px;
    margin-bottom: 24px; }
  h2 {
    font-size: 28px;
    letter-spacing: 0.5px; } }
